.vhfull .page_header {
    min-height: 40vh !important;
}

.vhfull .page_header-ov {
    min-height: 40vh !important;
}

.page_header {
    min-height: 40vh;
    background: url('./../images/hubert-mousseigne-661236-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.page_header-ov {
    min-height: 40vh;
    /* display: block; */
    background: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke
}

.page_header-ov .wrapper {
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
}

.page_header h1 {
    font-size: 2rem;
    color: #f8a22f;
    text-align: center
}